.business-publish-demand-menu {
  .am-action-sheet-button-list-item {
    &:first-child {
      color: #50abf1;
    }
    &:nth-of-type(2) {
      color: #ccc;
    }
  }
}

.business-publish-supplier-menu {
  .am-action-sheet-button-list-item {
    &:first-child {
      color: #ccc;
    }
    &:nth-of-type(2) {
      color: #F39C12;
    }
  }
}